.hero-container{
    display:flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    box-shadow: 0 4px 2px #041122;
    padding-bottom: 10vh;
}

.hero-container::after,
.hero-container::before{
    content: " ";
    width: 18rem;
    height: 18rem;
    border-radius: 18rem;
    background: #1d365a;
    position: absolute;
    z-index: -1;
    filter: blur(180px);
}

.hero-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hero-content img{
    align-self: center;
    width: 45rem;
    height: auto;
    transition: all 0.3s ease;
    border-radius: 50px;
}

.hero-content img:hover{
    transform: translateY(-0.5rem);
}

.hero-content .nameSpan{
    font-weight: 500;
    color: #39f1a8;
}

.hero-content p{
    padding-top: 2vh;
    width: 45%;
    text-align: center;
    font-size: 1.1rem;
    font-weight: 200;
    line-height: 2rem;
    color: #caf0f8;
}

.social-links-container {
    margin-top: 3vh;
    width: 44%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    line-height: 1.1rem;
  }
  
  .social-links {
    display: flex;
    align-items: center;
    gap: 1rem;
  }
  
  .social-links a {
    color: #39f1a8;
    font-size: 2rem;
    transition: color 0.3s ease;
  }

  
  .social-links a:hover {
    color: #2f9a6d;
  }

  
  .download-cv {
    padding: 0.75rem ;
    background: linear-gradient(90deg, #26ce8b 0%, #18d26e 100%);
    color: #071931;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
    transition: background-color 0.3s ease, transform 0.3s ease;
  }
  
  .download-cv:hover {
    color: #18d26e;
    background: #06162c;
    outline: 1.3px solid #18d26e;
  }


@media (max-width: 750px){
    .hero-content img{
        width: 20rem;
        height: auto;
        transition: all 0.3s ease;
        border-radius: 25px;
    }
    .hero-content p{
        font-size: 0.8rem;
        line-height: 1.5rem;
    }
    .hero-content img:hover{
        transform: translateY(-0.5rem);
    }
}

@media (max-width: 500px){
    .hero-container{
        width: 100vw;
    }
    .hero-content img{
        width: 20rem;
        height: auto;
    }
    .hero-content {
        width: 90vw;
    }
    .hero-content p{
        width: 75vw;
        font-size: 0.8rem;
        line-height: 1.2rem;
    }
    .social-links-container{
        width: 70vw;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
    }
    .social-links a{
        gap: 2rem;
    }
    .social-links a{
        font-size: 2rem;
    }
    .download-cv{
        width: 120px;
    }
}
