.skills-container {
    height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    box-shadow: 0 4px 2px #041122;
  }
  
  .skills-container h5 {
    font-size: 2rem;
    color: #f0f0f0;
    margin: 4rem;
    text-align: left;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    position: relative;
    transition: all 0.3s ease;
    margin-top: 15vh;
  }
  
  .skills-container h5::after {
    content: '';
    position: absolute;
    bottom: -10px;
    left: 0;
    width: 50px;
    height: 4px;
    background-color: #f0f0f0;
    border-radius: 2px;
  }
  
  .skills-container h5:hover {
    transform: translateY(-0.5rem);
  }
  
  .skills-content {
    margin-top: 10vh;
    width: 62%;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    gap: 4%;
  }
  
  .skills {
    display: flex;
    width: 35%;
    flex-direction: row;
    gap: 3rem;
    flex-wrap: wrap;
  }
  
  .skill-category {
    width: 10rem;
    height: 5rem;
    cursor: pointer;
    border-radius: 10px;
    transition: all 0.3s ease;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #39f1a8;
    border: 1px #39f1a8 solid;
    color: #06162c;
    font-weight: 600;
    padding-right: 1.5rem;
  }
  
  .skill-category:hover {
    background-color: #06162c;
    color: #39f1a8;
  }
  
  .active {
    background-color: #06162c;
    color: #39f1a8;
  }

  .skills-info {
    width: 50%;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 1.5rem;
  }
  
  .skill-card {
    height: 5rem;
    width: 17rem;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 10px;
    background-color: #caf0f8;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: all 0.7s ease;
    padding-left: 20px;
    gap: 20px;
  }
  
  .skill-card .name {
    color: #0c5f3e;
    font-size: 1.1rem;
    font-weight: 800;
  }
  
  .skill-card .icon {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f0f0f0;
    font-size: 3.5rem;
    height: 4rem;
    width: 4rem;
    border-radius: 0.4rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    color: #17b978;
  }
  
  .skill-card:last-child {
    margin-bottom: 0;
  }
  
  .skill-card:hover {
    transform: scale(1.05);
  }
  
  .icon {
    margin-right: 10px;
  }
  
  .name {
    font-weight: bold;
  }
  
  .category-name {
    color: #39f1a8;
    font-size: 25px;
    padding: 15px;
    padding-left: 25%;
    text-decoration: underline;
    padding-bottom: 0px;
  }
  
  @media (max-width: 1200px) {
    .skills-content {
      flex-direction: column;
      align-items: center;
    }
  
    .skills {
      width: 100%;
      justify-content: center;
      gap: 2rem;
      margin-bottom: 5px;
    }
  
    .skills-info {
      width: 100%;
      justify-content: center;
      gap: 1rem;
    }
  }
  
  @media (max-width: 768px) {
    .skills-container {
      height: auto;
      padding: 2rem 1rem;
    }
  
    .skills-container h5 {
      font-size: 1.5rem;
      margin: 2rem 0;
    }
  
    .skills-content {
      margin-top: 5vh;
      gap: 10%;
    }
  
    .skills {
      gap: 1rem;
      margin-bottom: 5px;
    }
  
    .skill-category {
      width: 8rem;
      height: 4rem;
    }
  
    .skills-info {
      gap: 1rem;
    }
  
    .skill-card {
      height: 4rem;
      width: 15rem;
      padding-left: 15px;
    }
  
    .skill-card .name {
      font-size: 1rem;
    }
  
    .skill-card .icon {
      font-size: 2.5rem;
      height: 3rem;
      width: 3rem;
    }
  
    .category-name {
      font-size: 20px;
      padding-left: 0;
      text-align: center;
    }
    .category-name {
      display: none;
    }
  }
  
  @media (max-width: 480px) {
    .skills-container h5 {
      font-size: 20px;
      margin-top: 10vh;
    }
    .skills-content {
      gap: 10%;
      margin-bottom: 10vh;
    }
  
    .skills {
      gap: 1rem;
      margin-bottom: 5vh;
      width: 80vw;
    }
  
    .skill-category {
      width: 7.5rem;
      height: 3.5rem;
    }
  
    .skills-info {
      gap: 0.5rem;
    }
  
    .skill-card {
      height: 3.5rem;
      width: 12rem;
      padding-left: 10px;
    }
  
    .skill-card .name {
      font-size: 0.8rem;
    }
  
    .skill-card .icon {
      font-size: 2rem;
      height: 2.5rem;
      width: 2.5rem;
    }
  
    .category-name {
      font-size: 18px;
    }
    .category-name {
      display: none;
    }
  }
  